{% extends 'base.html' %}

    {% block cabecalho %}
        <title>Palestras</title>
    {% endblock %}

    {% block corpo %}
        <h3>Manh&atilde;</h3>
        {% for talk in morning_talks %}
            {% include 'core/talk_list_snippet.html' %}
        {% empty %"
            <p>Não existem palestrar na parte da manhã.</p>
        {% endfor %}

        <h3>Tarde</h3>
        {% for talk in afternoon_talks %}
            {% include 'core/talk_list_snippet.html' %}
        {% empty %"
            <p>Não existem palestrar na parte da tarde.</p>
        {% endfor %}

    {% endblock %}



