{% extends "base.html" %}

{% block cabecalho %}
    <title>Eventex - Inscri&ccedil;&atilde;o</title>
{% endblock %}

{% block corpo %}

<div class="page-header">
    <h1>Formul&aacute;rio de Inscri&ccedil;&atilde;o</h1>
</div>

<div class="lead">
    
    {% load my_filter %}
    <form role="form" action="." method="POST">

        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
        {% endif %}

        <div class="form-group {% if form.name.errors %} has-error {% endif %}">
            <label for="{{ form.name.id_for_label }}">{{ form.name.label }}:</label>
            {{ form.name|addcss:'form-control' }}
            {% if form.name.errors %}
            <div class="alert alert-danger">
                {{ form.name.errors }}
            </div>
            {% endif %}
        </div>
        <div id="cpf_div" class="form-group {% if form.cpf.errors %} has-error {% endif %}">
            <label for="{{ form.cpf.id_for_label }}">{{ form.cpf.label }}:</label>
            {{ form.cpf|addcss:'form-control' }}
            {% if form.cpf.errors %}
            <div class="alert alert-danger">
                {{ form.cpf.errors }}
            </div>
            {% endif %}
        </div>
        <div class="form-group {% if form.email.errors %} has-error {% endif %}">
             <label for="{{ form.email.id_for_label }}">{{ form.email.label }}:</label>
             {{ form.email|addcss:'form-control' }}
             {% if form.email.errors %}
             <div class="alert alert-danger">
                 {{ form.email.errors }}
             </div>
             {% endif %}
        </div>
        <div class="form-group {% if form.phone.errors %} has-error {% endif %}">
            <label for="{{ form.phone.id_for_label }}">{{ form.phone.label }}:</label>
            {{ form.phone }}
            {% if form.phone.errors %}
            <div class="alert alert-danger">
                {{ form.phone.errors }}
            </div>
            {% endif %}

        </div>
        <button type="submit" class="btn btn-default">Enviar</button>
    </form>

</div>

{% endblock %}


{% block last_script %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#id_email").autocomplete({
                source: "{% url 'subscriptions:get_emails' %}",
                selectFirst:true,
                minLength: 2,
            });
        });


        $(function() {
            $("#id_cpf").blur(function() {
                var cpf = $("#id_cpf").val();
                $.ajax({
                    url: "{% url 'subscriptions:validate_cpf' %}",
                    data: "cpf=" + cpf,
                    type: "get",
                    success: function (response) {
                        if (response === "Fail")
                        {
                            $("#cpf_div").addClass("has-error");
                        }
                        else
                        {
                            $("#cpf_div").removeClass("has-error");
                        }
                    },
                    beforeSend: function(jqXHR, settings) {
                        jqXHR.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
                   },
                });
                event.preventDefault();
            });
        });


    </script>
{% endblock %}
